<div class="container">
  <ul class="list-group-item d-flex ">
  <li>
  <%= image_tag("joinmeP.jpg", alt: "Avatar", class: "avatar3 border")%>
          <div class="badge badge-circle badge-success ">
            <div class="d-flex justify-content-center">
              <%= image_tag("tickle.svg", class:"center-benchmark")%>
            <div>
          </div>   
  </li>
  <li>
    <%= image_tag("joinmeP.jpg", alt: "Avatar", class: "avatar3 border")%>
    <div class="badge badge-circle badge-success ">
        <div class="d-flex justify-content-center">
          <%= image_tag("tickle.svg", class:"center-benchmark")%>
        <div>
      </div>
  </li>
  <li>
    <%= image_tag("joinmeP.jpg", alt: "Avatar", class: "avatar3 border")%>
    <div class="badge badge-circle badge-success ">
        <div class="d-flex justify-content-center">
          <%= image_tag("tickle.svg", class:"center-benchmark")%>
        <div>
      </div>
  </li>
  </div>
</ul>


<style scoped>
  ul > li{
    display: inline-block;
  }
</style>